.wrapper {
  margin: 0;
  padding: 0;
  width: 900px;
  height: auto;
  background-color: rgb(184, 240, 241);
}
.page-content {
  display: flex;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  width: auto;
  height: 640px;
  background-color: rgb(248, 248, 248);
}
.column-container {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background-color: rgb(248, 248, 248);
}

.table-list {
  list-style: none;
  padding: 0;
}

.table-item {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid grey;
}

.button-column {
  display: block;
  padding: 20px;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(248, 248, 248);
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.button-column:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.button-column.button-active {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  cursor: default;
}
